/* .popup__image-block{
  display: none;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .9);
  z-index: 1;
} */

.popup__image-block{
  display: none;
  position: fixed;
  tac
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
