.popup__close{
  position: relative;
  left: -1p;
  background: transparent;
  font-size: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  
}

.popup__close:hover{
  cursor: pointer;
  opacity: 0.6;
}