.popup__image{
  position: relative;
  display: inline-block;
    outline: 1px solid white;

}

.popup__imagee{
  max-width: 75vw;
  max-height: 75vh;
    outline: 1px solid white;

}

.popup__image_close{
  background: none;
  position: absolute;
  right: 0;
  
  padding: 0;
  margin: 0;
  border: none;
    outline: 1px solid white;

}

.popup__image_close:hover{
  cursor: pointer;
  
}
