.popup__image-close{
  left: 0;
  position: absolute;
  top: -;
  /* right: -28px; */
  /* top: -28px; */
  /* padding: 0; */
  /* margin: 0; */
  /* border: none; */
  /* top: 0; */

}

.popup__image-close:hover{
  cursor: pointer;
}
