.button__delete{
  position: absolute;
  
  /* width: 18px; */
  height: 19px;/
  right: 20px;
  top: 20px;
  background: none;
  border: none;
}

.button__delete:hover{
  cursor: pointer;
  opacity: 0.6;
}