.profile__info-button__edit{
  padding: 0;
  height: 18px;
  width: 18px;
  background: transparent;
  border: 1px solid #fff;
  margin-left: 10px;
  /* margin-top: 12px; */
  seld
}

@media screen and (min-width: 880px) {
  .profile__info-button__edit {
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-left: 18px;
  }
}