.card__button{
  padding: 0;
  font-size: 0;
  background: transparent;
  border: none;
  color: #fff;
}

.card__button img{
  background: #000;
}

.card__button:hover{
  cursor: pointer;  
  opacity: 0.6;
}