.profile__info-title{
  margin: 0;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 14px;
  m0aut
}

@media screen and (min-width: 880px) {
  .profile__info-title {
    font-size: 42px;
    line-height: 48px;
  }
}