.popup__form-input{
  padding: 0;
  width: 238px;
  font-weight: 400;
  font-size: 214px;
  line-height: 17px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  margin-left: 22px;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.popup__form-input:focus{
  outline: none;
}

@media screen and (min-width: 880px) {
  .popup__form-input {
    width: 358px;
    margin-left: 36px;
  }
}

