.profile__info{
  color: #fff;
}

.profile__info-test{
  display: flex;
  align-items: center;
  margin-left: 25px;
}

@media screen and (min-width: 880px) {
  .profile__info-test {
    margin-left: 0px;
  }
}