.profile__info-button__add{
  padding: 0;
  width: 282px;
  
  background: transparent;
  border: 1px solid #fff;
  /* max-height: 50px; */
}

@media screen and (min-width: 880px) {
  .profile__info-button__add {
    margin-left: 244px;
  }
}