.card__button{
  display: block;
  width: 22px;
  background-image: url(../../../images/vector_3.svg) n center;
  background-repeat: no-repeat;
  /* background-position: center; */
  padding: 0;
  font-size: 0;
  /* background: transparent; */
  border: none;
}


.card__button:hover{
  cursor: pointer;
  opacity: 0.6;
}